@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory {
  padding: 1.5rem 1rem;
  @include tablet{
    @include flexed(row, space-between, center);
    padding: 2rem;

  }

  &__title {
    padding-bottom: 1.5rem;
  }
}
.searchHeader { 

  &__interactive {
    @include tablet{
      @include flexed(row, flex-end, flex-start);
    }
  }
}
