@use "./partials/global" as *;
@use "./partials/colors" as *;

.App {
  position: relative;
}

.page-container {
  padding: 1rem;
  position: absolute;
  left: 0rem;
  top: 8.5rem;
  width: 100%;
  &__inner {
    background: $global-color;
    padding: 1rem;
    overflow: hidden;
  }
}
