@use "./partials/global" as *;
@use "./partials/colors" as *;
@use "./partials/mixins" as *;
.App {
  position: relative;
}

.page-container {
  padding: 1rem;
  position: absolute;
  left: 0rem;
  top: 8.5rem;
  width: 100%;
  @include tablet {
    padding: 0 2rem;
    top: 5.25rem;
  }
  &__inner {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 63.75rem;
    background: $global-color;
    overflow: hidden;
    margin: 0 auto;
  }
}
