@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.button__btn {
  border-style: none;
  background-color: $interactive-color;
  color: $global-color;
  width: 100%;
  height: 2.25rem;
  border-radius: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $navigation-color;
  }

  @include tablet {
    width: 9rem;
    height: 2.375rem;
    width:20%;
  }
}
