@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials/typography" as *;


.warehouses {
    &__list {
      border-top: 1px solid $outline-divider-color;
      padding: 0 1.5rem;
    }
}

.column-labels {
  display: none;
  padding: 1rem 1.5rem;
  background-color: $page-background-color;
  @include tablet {
    @include flexed(row, space-between, center);
  }

  &__left {
    width: 60%;
    @include flexed(row, space-between, center);
  }

  &__right {
    width: 40%;
    @include flexed(row, space-between, center);
  }

  &__column {
    @include flexed(row, flex-start, center);
  }

  &__item {
    width: 33%;
  }

  &__address {
    width: 33%;
  }

  &__contactName {
    width: 33%;
  }

  &__contactInformation {
    width:70%;
  }

  &__actions {
    width:30%;
  }

  &__text {
    text-transform: uppercase;
    color: $table-placeholders-color;
  }

  &__sort-icon {
    height: 15px;
  }
}


 
