@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials/typography" as *;


.warehouses {
    &__list {
      border-top: 1px solid $outline-divider-color;
      padding: 0 1.5rem;
    }
}

.column-labels {
  display: none;
  padding: 1rem 1.5rem;
  background-color: $page-background-color;
  @include tablet {
    @include flexed(row, space-between, center);
  }

  &__left {
    //width: 60%;
    @include flexed(row, space-between, center);
    &--wh{
      @include tablet{
        width: 59%;
      }
    }
  }

  &__right {
    //width: 40%;
    @include flexed(row, space-between, center);
    &--wh {
      @include tablet {
        width:50%;
      }
    }
  }

  &__column {
    @include flexed(row, flex-start, center);
  }

  &__wh {
    width: 33%;
  }

  &__address {
    @include tablet{
      width: 15%;
      //padding-left:1.5rem;
    }
  }

  &__contactName {
    @include tablet {
    width: 33%;
    padding-left:1rem;
    //margin-right:3rem;
    }
  }

  &__contactInformation {
    width:82%;
    padding-left:1rem;
  }

  &__actions {
    //width:30%;
    &--wh { 
      @include tablet { 
        width:18%;
      }
    }
  }

  &__text {
    text-transform: uppercase;
    color: $table-placeholders-color;
  }

  &__sort-icon {
    height: 15px;
  }
}


 
